{% extends "base.html.twig" %}

{% block body %}
{% block stylesheet %}
<style>
.grid-data {
    width: 150px; 
    height:150px; 
    margin:35px;
    color: white;
    font-weight:bold;
}
</style>
{% endblock %}
<div class="container">
<h1>Réservations</h1>
  <div class="row">
    {% for machine in machines %}
        {% if machine.state != 1 %}
            <div class="col-8 bg-primary d-flex justify-content-center grid-data flex-column">
                <p>{{machine.name}}</p>
                <p>{{machine.games}}</p>
                <a href="{{path('machines.reservation', {id: machine.id})}}" class="btn btn-info">Réserver</a>
            </div>
        {% endif %}
    {% endfor %}
  </div>
</div>

{% endblock %}